<!-- "[]" = property binding-->
<!-- <textarea rows="10" [value]="newPost"></textarea> -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Enter a title" name="title" ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Enter some content" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" matTooltip="Save your post">Save</button>
  </form>
</mat-card>
<!-- "{{}}" = string interpolation -->
<!-- <p>{{ newPost }}</p> -->
