<ng-container *ngIf="posts.length > 0; else elseTemplate">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{post.title}}
      </mat-expansion-panel-header>
      <p>{{post.content}}</p>
      <p>{{post.like}}</p>
      <p>{{post.count}}</p>
      <mat-action-row>
        <div class="example-button-row">
          <button mat-icon-button color="warn" (click)="onHeartClicked(post)" *ngIf="post.like === true" matTooltip="Unlike post" matTooltipPosition="above">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-icon-button (click)="onHeartClicked(post)" *ngIf="post.like === false" matTooltip="Like post" matTooltipPosition="above">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
        </div>
        <button mat-button color="accent">Edit</button>
        <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
<ng-template #elseTemplate>
  <p class="post-info mat-body-1">No posts added yet!</p>
</ng-template>
